.title-header {
  font-size: 36px;
  font-weight: bold;
}

.exact {
  background-color: @green_4;
}

.match {
  background-color: @yellow_4;
}

.no_match {
  background-color: @dark_1;
}

.selected {
  border: 2px solid @accent-color;
}

.osk {
  padding: 0px;
  min-width: 10px;
  min-height: 10px;
}