.letter {
  font-size: 36px;
  font-weight: bold;
  padding: 0pt;
}

.exact {
  background-color: @green_4;
}

.match {
  background-color: @yellow_4;
}

.no_match {
  background-color: @dark_1;
}

.selected {
  border: 2px solid var(--accent-color);
}

.osk {
  padding: 0px;
  min-width: 10px;
  min-height: 10px;
}

.numb_letter {
  padding: 5px;
  margin: 1px;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(40deg);
  }

  60% {
    transform: rotate(-40deg);
  }

  80% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}